* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans' sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

main {
    height: auto !important;
}

/*-----Popular Courses Start-----*/

.popular-courses {
    background-image: url("../images/pattern.png");
}

.popular-course-header {
    padding: 25px 0;
}

.popular-course-header .head h3 {
    font-weight: 600;
}

.popular-course-header .category {
    text-align: right !important;
}

.popular-course-header .category ul {
    position: absolute;
    right: 2%;
    display: flex;
}

.popular-course-header .category ul li {
    padding: 12px;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0 1px;
    font-size: .9rem;
}

.category ul .active {
    background-color: #1BAEC3 !important;
    color: #ffffff;
}

.post-img {
    height: 235px;
}

.narrow {
    width: 100%;
    height: 235px;
    background-color: rgb(44, 175, 193);
    position: absolute;
    opacity: .5;
    transition: all 2s;
    display: none;
}

.card-title {
    font-weight: 600;
}

.card-title a {
    color: #222222;
}

.card .btn-eye {
    position: absolute;
    z-index: 1;
    top: 24%;
    left: 42%;
    display: none;
}

.card .btn-eye a, .btn-eye .fa-eye {
    color: #ffffff;
    font-size: 1.2rem;
}

.course-author a {
    color: #222222;
    font-weight: 600;
}

.course-author span {
    font-size: .8rem;
}

.course-author span, .card-text, .post-meta ul li {
    color: #777777;
}

.course-meta {
    position: relative;
    padding-bottom: 30px;
}

.course-author {
    position: absolute;
    left: 0;
}

.price {
    position: absolute;
    right: 0;
    font-weight: 600;
    color: #222222;
}

.course-author a span {
    color: black;
}

.post-meta {
    padding-bottom: 40px;
}

.post-meta ul {
    position: relative;
}

.post-meta ul li {
    position: absolute;
}

.post-meta ul li:first-child {
    left: 0;
}

.post-meta ul li:nth-child(2) {
    left: 38%;
}

.post-meta ul li:last-child {
    right: 0;
    cursor: pointer;
}

.post-meta ul li i {
    color: #1CB3C8;
}

/*--Hover--*/

.card:hover .narrow {
    display: block;
    transition: .5s;
}

.card:hover .btn-eye {
    display: block;
    transition: .5s;
}

.card-title a:hover {
    color: #1CB3C8;
    transition: .5s;
}

.display-none {
    display: none !important;
}

#more-category {
    display: none !important;
    z-index: 1;
    margin-top: 12px;
    background-color: #ffffff;
}

.more-category-li {
  
    margin: 0 !important;
    font-size: .9rem;
}
.more-category-hr{
    padding: 0 !important;
    margin: 0 !important;
    color: aliceblue !important;
}
.more:hover>#more-category{
    display: block !important;
}
@media (max-width: 575.98px) {
    .popular-course-header {
        padding: 20px 0 50px 0;
    }
    .popular-course-header .head {
        text-align: center;
    }
    .popular-course-header .category {
        padding-top: 15px;
        right: 4%;
    }
    .popular-course-header .category ul li {
        padding: 12px;
    }
    .post-img {
        height: 260px;
    }
    .narrow {
        height: 260px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .popular-course-header {
        padding: 20px 0 50px 0;
    }
    .popular-course-header .head {
        text-align: center;
    }
    .popular-course-header .category {
        padding-top: 15px;
        right: 8%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}